 <!doctype html>
 <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 	<title>Borger Report</title>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">

 </head>
 <body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h1>Borger Management Dashboard</h1>
      </div>
      <div class="col-md-4">
        <img alt="Borger" src="static/img/borger_logo_2.png"></img>
      </div>
    </div>
    <div class="row">
 	    <form action="" method=post>
        <div class="form-group">
          <label for="sel1">Select Year</label>
          <select class="form-control" id="yr" size="1" name="year">
            {% for year in years %}
	            <option>{{year}}</option>
	        {% endfor %}
          </select>
        </div>
        <button type='button' name='btn' value="get_year" class="btn btn-default" onclick="myFunction()">Generate Properties</button>
        <div class="form-group">
          <label for="sel1">Select Unit</label>
          <select class="form-control" id="prop_id" size="1" name="room">
           <!-- {% for prop in props %}
	            <option>{{prop}}</option>
	        {% endfor %}-->
          </select>
        </div>
        <button type="submit" name='btn' value="display" class="btn btn-default">Display Tabular Results</button>
        <button type="submit" name='btn' value="download" class="btn btn-default">Download Spreadsheet</button>
      </form>
    </div>
  </div>


<script>
function myFunction() {
    removeOptions(document.getElementById("prop_id"));
    var x = document.getElementById("prop_id");
    var y = document.getElementById("yr");
    var yr = y.options[y.selectedIndex].text;
    if (yr == 2016) {
        mylist = {{props_2016|safe}};
        for (i = 0; i < mylist.length; i++) { 
          var option = document.createElement("option");
          option.text = mylist[i];
          option.value = mylist[i];
          x.add(option);
        }
    } else if (yr == 2015) {
        mylist = {{props_2015|safe}};
        for (i = 0; i < mylist.length; i++) { 
          var option = document.createElement("option");
          option.text = mylist[i];
          option.value = mylist[i];
          x.add(option);
        }
    } else {
        greeting = "Good evening";
    }

}

function removeOptions(selectbox)
{
    var i;
    for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
    {
        selectbox.remove(i);
    }
}
</script>
</body>

    




